<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Hello World</title>
</head>
<body>
	<div id="button"></div>
    <script type="text/javascript" src="config/common.js"></script>
    <script type="text/javascript" src="config/env.js"></script>
    <%if (process.env.NODE_ENV != 'production') { %>
      <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
      <script type="text/javascript" src="/container/static/bundle.js"></script>
    <% } %>
</body>
</html>